In [1]:
# Load libraries
import random
import numpy as np
import pandas as pd
import seaborn as sns
import myfuntions as mf
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
# Read file CSV
file_cvs = "claims_origin.csv"
# Create dataframe with information of file CSV
df_origin = pd.read_csv(file_cvs, delimiter=',', on_bad_lines='skip', encoding='unicode_escape')

C:\Users\jacqui\AppData\Local\Temp\ipykernel_5112\2148548520.py:4: DtypeWarning: Columns (5,37,38,39,40,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df_origin = pd.read_csv(file_cvs, delimiter=',', on_bad_lines='skip', encoding='unicode_escape')

In [3]:
# Read file with CIE10 CSV - Donwload dataset in https://www.kaggle.com/datasets/jacquelineguzman/medical-bill-claims
file_cvs = "seq_cie10.csv"
# Create dataframe with information of file CSV
df_cie10 = pd.read_csv(file_cvs, delimiter=';', encoding='unicode_escape')

In [4]:
# Read types data
pd.set_option('display.max_rows', 100)
df_origin.dtypes

TYPE_ATTENTION                  object
DETAIL_ATTENTION                object
SEQ_ATTENTION                    int64
SEQ_PATIENT                      int64
SEQ_ATTEN_PATIENT                int64
ROOM_ATTENTION                  object
MAIN_SPECIALITY                 object
SEQ_DOCTOR                      object
TYPE_PAYMENT_REPON              object
PAYMENT_REPONSIBLE              object
FEE_ATTENTION                   object
TYPE_PATIENT                    object
SEX_PATIENT                     object
AGE_PATIENT_START_ATTENTION      int64
AGE_PATIENT_FINISH_ATTENTION     int64
MINUTES_STAY                     int64
TYPE_AFFILIATE                  object
TYPE_AFFILIATION_REGIME         object
NUM_HISTORY_MED_SET_1            int64
NUM_HISTORY_MED_SET_2            int64
NUM_HISTORY_MED_SET_3            int64
NUM_HISTORY_MED_SET_4            int64
NUM_HISTORY_MED_SET_6            int64
NUM_HISTORY_MED_SET_7            int64
NUM_HISTORY_MED_SET_8            int64
NUM_HISTORY_MED_SET_9            int64
NUM_HISTORY_MED_SET_11           int64
NUM_HISTORY_MED_SET_12           int64
NUM_HISTORY_MED_SET_13           int64
NUM_HISTORY_MED_SET_14           int64
NUM_HISTORY_MED_SET_20           int64
NUM_HISTORY_MED_SET_23           int64
NUM_HISTORY_MED_SET_24           int64
NUM_HISTORY_MED_SET_25           int64
ENTRY_DIAGNOSIS                 object
PRINCIPAL_DIAGNOSIS             object
EGRESS_DIAGNOSIS                object
PREVIOUS_DIAGNOSIS              object
POST_DIAGNOSIS                  object
RELATED_DIAGNOSIS_1             object
RELATED_DIAGNOSIS_2             object
SPECIALITY_1                    object
SPECIALITY_2                    object
SPECIALITY_3                    object
SPECIALITY_4                    object
SPECIALITY_5                    object
SPECIALITY_6                    object
BILLING_CONCEPT                 object
PRODUCT_SERVICE                 object
COST_CENTER                      int64
THIRD_RESPONSIBLE                int64
INVOICE_NUMBER                   int64
QUANTITY_PRODUCT_SERVICE         int64
SALES_PRICE                      int64
INVOICED_PRICE                   int64
CLAIM                            int64
dtype: object

In [5]:
df_origin.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,SEQ_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,ambulatorio,CEXT,866568,240386,1,NaN,387,M1979,E,MEDPLUSCERTURQ(AMB),...,NaN,MCME,C00004,8202,11349411,37901,1,61500,61500,0
1,ambulatorio,CEXT,866568,240386,1,NaN,387,M1979,E,MEDPLUSCERTURQ(AMB),...,NaN,COPM,0,8201,0,37900,1,19500,19500,0
2,ambulatorio,CEXT,866568,240386,1,NaN,387,M1979,E,MEDPLUSCERTURQ(AMB),...,NaN,COPA,0,8201,0,37901,-1,-19500,19500,0
3,hosp_urge,HOSP,2754890,300352,4,NaN,514,19249648,E,MAPFRESEGPOLSALUDUYH,...,NaN,MEDE,J76013,8204,0,1491915,1,66721,66721,0
4,hosp_urge,HOSP,2754890,300352,4,NaN,514,19249648,E,MAPFRESEGPOLSALUDUYH,...,NaN,MEDE,J75352,8204,0,1491915,1,1462,1462,0

In [6]:
# Create dataframe para procesar, copy dataframe origin
df=df_origin

In [7]:
# Drop columns columns that are not needed
df = df.drop ('TYPE_PATIENT', axis = 1)

In [8]:
# Manual transform to number columns with alphanumeric data
## 
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].fillna(0)
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].replace('hosp_urge', 0)
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].replace('ambulatorio', 1)
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].astype(np.int64)
##
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].fillna(0)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('HOSP', 0)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('URGE', 1)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('LABO', 2)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('CEXT', 3)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('AYDX', 4)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('AYRA', 5)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].astype(np.int64)
##
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].fillna(0)
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].replace('P', 0)
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].replace('E', 1)
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].astype(np.int64)
##
df['SEX_PATIENT']=df['SEX_PATIENT'].fillna(0)
df['SEX_PATIENT']=df['SEX_PATIENT'].replace('F', 0)
df['SEX_PATIENT']=df['SEX_PATIENT'].replace('M', 1)
df['SEX_PATIENT']=df['SEX_PATIENT'].replace('I', 1)
df['SEX_PATIENT']=df['SEX_PATIENT'].astype(np.int64)
##
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].fillna(0)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].replace('A', 0)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].replace('B', 1)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].replace('C', 1)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].astype(np.int64)
##
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].fillna(0)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].replace('C', 0)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].replace('O', 1)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].replace('P', 1)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].astype(np.int64)

In [9]:
print('TYPE_ATTENTION:\n'+str(df['TYPE_ATTENTION'].unique()))
print('DETAIL_ATTENTION:\n'+str(df['DETAIL_ATTENTION'].unique()))
print('TYPE_PAYMENT_REPON:\n'+str(df['TYPE_PAYMENT_REPON'].unique()))
print('SEX_PATIENT:\n'+str(df['SEX_PATIENT'].unique()))
print('TYPE_AFFILIATE:\n'+str(df['TYPE_AFFILIATE'].unique()))
print('TYPE_AFFILIATION_REGIME:\n'+str(df['TYPE_AFFILIATION_REGIME'].unique()))

TYPE_ATTENTION:
[1 0]
DETAIL_ATTENTION:
[3 0 1 2 5 4]
TYPE_PAYMENT_REPON:
[1 0]
SEX_PATIENT:
[0 1]
TYPE_AFFILIATE:
[1 0]
TYPE_AFFILIATION_REGIME:
[0 1]

In [10]:
df.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,SEQ_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,1,3,866568,240386,1,NaN,387,M1979,1,MEDPLUSCERTURQ(AMB),...,NaN,MCME,C00004,8202,11349411,37901,1,61500,61500,0
1,1,3,866568,240386,1,NaN,387,M1979,1,MEDPLUSCERTURQ(AMB),...,NaN,COPM,0,8201,0,37900,1,19500,19500,0
2,1,3,866568,240386,1,NaN,387,M1979,1,MEDPLUSCERTURQ(AMB),...,NaN,COPA,0,8201,0,37901,-1,-19500,19500,0
3,0,0,2754890,300352,4,NaN,514,19249648,1,MAPFRESEGPOLSALUDUYH,...,NaN,MEDE,J76013,8204,0,1491915,1,66721,66721,0
4,0,0,2754890,300352,4,NaN,514,19249648,1,MAPFRESEGPOLSALUDUYH,...,NaN,MEDE,J75352,8204,0,1491915,1,1462,1462,0

In [11]:
# Transform and  to number or alphanumeric columns using OrdinalEncoder
enc = OrdinalEncoder()
##
df['SEQ_ATTENTION']=df['SEQ_ATTENTION'].fillna(0)
df[["SEQ_ATTENTION"]] = enc.fit_transform(df[["SEQ_ATTENTION"]])
df['SEQ_ATTENTION']=df['SEQ_ATTENTION'].astype(np.int64)
##
df['SEQ_PATIENT']=df['SEQ_PATIENT'].fillna(0)
df[["SEQ_PATIENT"]] = enc.fit_transform(df[["SEQ_PATIENT"]])
df['SEQ_PATIENT']=df['SEQ_PATIENT'].astype(np.int64)
##
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].fillna(0)
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].replace({'J':''},regex=True)
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].astype(str)
df[["ROOM_ATTENTION"]] = enc.fit_transform(df[["ROOM_ATTENTION"]])
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].astype(np.int64)
##
df['SEQ_DOCTOR']=df['SEQ_DOCTOR'].fillna(0)
df['SEQ_DOCTOR']=df['SEQ_DOCTOR'].astype(str)
df[["SEQ_DOCTOR"]] = enc.fit_transform(df[["SEQ_DOCTOR"]])
df['SEQ_DOCTOR']=df['SEQ_DOCTOR'].astype(np.int64)
##
df['PAYMENT_REPONSIBLE']=df['PAYMENT_REPONSIBLE'].fillna(0)
df['PAYMENT_REPONSIBLE']=df['PAYMENT_REPONSIBLE'].astype(str)
df[["PAYMENT_REPONSIBLE"]] = enc.fit_transform(df[["PAYMENT_REPONSIBLE"]])
df['PAYMENT_REPONSIBLE']=df['PAYMENT_REPONSIBLE'].astype(np.int64)
##
df['FEE_ATTENTION']=df['FEE_ATTENTION'].fillna(0)
df['FEE_ATTENTION']=df['FEE_ATTENTION'].astype(str)
df[["FEE_ATTENTION"]] = enc.fit_transform(df[["FEE_ATTENTION"]])
df['FEE_ATTENTION']=df['FEE_ATTENTION'].astype(np.int64)
##
df['BILLING_CONCEPT']=df['BILLING_CONCEPT'].fillna(0)
df['BILLING_CONCEPT']=df['BILLING_CONCEPT'].astype(str)
df[["BILLING_CONCEPT"]] = enc.fit_transform(df[["BILLING_CONCEPT"]])
df['BILLING_CONCEPT']=df['BILLING_CONCEPT'].astype(np.int64)
##
df['PRODUCT_SERVICE']=df['PRODUCT_SERVICE'].fillna(0)
df['PRODUCT_SERVICE']=df['PRODUCT_SERVICE'].astype(str)
df[["PRODUCT_SERVICE"]] = enc.fit_transform(df[["PRODUCT_SERVICE"]])
df['PRODUCT_SERVICE']=df['PRODUCT_SERVICE'].astype(np.int64)
##
df['COST_CENTER']=df['COST_CENTER'].fillna(0)
df['COST_CENTER']=df['COST_CENTER'].astype(str)
df[["COST_CENTER"]] = enc.fit_transform(df[["COST_CENTER"]])
df['COST_CENTER']=df['COST_CENTER'].astype(np.int64)
##
df['THIRD_RESPONSIBLE']=df['THIRD_RESPONSIBLE'].fillna(0)
df['THIRD_RESPONSIBLE']=df['THIRD_RESPONSIBLE'].astype(str)
df[["THIRD_RESPONSIBLE"]] = enc.fit_transform(df[["THIRD_RESPONSIBLE"]])
df['THIRD_RESPONSIBLE']=df['THIRD_RESPONSIBLE'].astype(np.int64)
##
df['INVOICE_NUMBER']=df['INVOICE_NUMBER'].fillna(0)
df['INVOICE_NUMBER']=df['INVOICE_NUMBER'].astype(str)
df[["INVOICE_NUMBER"]] = enc.fit_transform(df[["INVOICE_NUMBER"]])
df['INVOICE_NUMBER']=df['INVOICE_NUMBER'].astype(np.int64)

In [12]:
print('SEQ_ATTENTION:\n'+str(df['SEQ_ATTENTION'].unique()))
print('SEQ_PATIENT:\n'+str(df['SEQ_PATIENT'].unique()))
print('ROOM_ATTENTION:\n'+str(df['ROOM_ATTENTION'].unique()))
print('SEQ_DOCTOR:\n'+str(df['SEQ_DOCTOR'].unique()))
print('PAYMENT_REPONSIBLE:\n'+str(df['PAYMENT_REPONSIBLE'].unique()))
print('BILLING_CONCEPT:\n'+str(df['BILLING_CONCEPT'].unique()))
print('PRODUCT_SERVICE:\n'+str(df['PRODUCT_SERVICE'].unique()))
print('COST_CENTER:\n'+str(df['COST_CENTER'].unique()))
print('THIRD_RESPONSIBLE:\n'+str(df['THIRD_RESPONSIBLE'].unique()))
print('INVOICE_NUMBER:\n'+str(df['INVOICE_NUMBER'].unique()))

SEQ_ATTENTION:
[ 21289 677817 522627 ...  40206 120567 246807]
SEQ_PATIENT:
[16920 37055 59757 ... 55310 79890 42926]
ROOM_ATTENTION:
[ 0  4 32 34 35 26 13 18 30  8 21 23 24 10 31 29 45  7 37 27 28  5 42 20
 40 41 33 14  2 55 22  6 17  1 46 12 38  3 48 36 25  9 19 52 47 49 54 39
 51 11 44 50 53 16 43 15]
SEQ_DOCTOR:
[473 139 420 502 372 373 639  63 422 429 506   0 555 637 436 368 423 192
 531 426 638 551 430 432 405 391 588 292 459 605 386 230 595 484 496 495
 483 389 402 329 435 634 533 396 412 572 425 424 399 407 451 377 198 523
 437 543 308 498 394 419 472 627 593 446 596 416 549 438 431 409 560 550
 314  68 603 348 607 554 385 478 504 499 245 433 341 538 353 625 470 281
 528 563 579 443 392 132 591 346 384 120 381 509 450 566 475 536  83 167
   9 367 197 190 503 598 369 439 606 612 374 582 507 121 312 477 564 463
 418 587  17 476 608 631 390 339 489 464 103 387 285 526 257 480 571 471
 467 441 275 465 376 559 482 490 380 421 519 360 365 179 223 590 448 315
 445 207 512   4 460 583 584 468 185 617 382 529 487 411 335 333 629 453
 183 635 194 112 331 592 212 585 428 296 266 539 614 288 302 541 186 310
 152 440 324 540   1 442 147 542 497 458 205 611 527 454 102 546 154 624
 633  40 117 488 513 586 547 521 400 203 280 636 570 267 522  80 494 224
 561 251 284 273 177 145 408 175 338 176 146 209 573 515  22 354 244 618
 452  18 283 126 217 558 233 248 456 562 461 352 577 557  34 602 479 569
 144 213 140 393 388  49 492 520 447 525 589 253 415 619 568 232 469  21
  42 305 626 444  31 597 134 236 196 630 466 474 184 552 214 481 455 347
 406 298 427 343 171 311 168 530 208 104  48 258 334 215 247 349  72 178
 609 397 600 462  82 401 193 142 265 118 486 291 616 239 277 610 615 594
 156 548 361 241 148  65  52 278 202 235 259 261 116 379 366   2 578  69
 576 537 516 359 378 628  20 226 242  67 491 303 237  38  32 398 195 362
 182  29  84  13 535 153 336 404 319 613 518 206 150 294  53 304 220 249
  93 517 500 110 269 375 351 318 364 514 270 309 225 129 199 287 138  79
 524 159 604 358 240 632 133 328 532 601  55 131 189 297 620 410 136 170
 204 210  81 130  90 271 163 228 434 508 332 316 403  36  30 106  15 141
 166 574  25 621 128 243  97 322 581 109 180 599 323 414 227 371 505 556
  87 320 289 105  77  71 344 100   8 395 493 449 123 355 115  45 306 229
 534  95 356 342 330  58  75 286  99   7  76 485  88 326 191 276 295  62
 383 201 345  50  60 149 580  51 114 301 300 299 337 101  46 165  92  12
 413 545  28 187   5 321  39 234  10  44 238 350 282  59 553 181  98 274
 124 417 565 164 272 279 200 174 567 216 122 260 307  37 172 256  19 173
 188  96 246 137 162  78 501  94  16 575  85 325 457  86 511 263 268 143
 158 211   6 111  89  57 313  91 157 107   3 252 222 293 370 231 510  41
 327  14 119 113 317  11 125 161  70  56 340  26  54 127 544 221 363  23
 264  64 254  47  43  61 135  33 160 219 250  74 255 357  35 623 151 155
  66 108  27  73  24 169 290 218 262 622]
PAYMENT_REPONSIBLE:
[22200 22191 22042 ... 14699  5706  8072]
BILLING_CONCEPT:
[10  1  0 18 19 62 23 30 60  4 39 48  7 41 15 55 12 36 51 21 52 43 26 56
  6 27 50 13 38 17 53 14 37  9 25 40  8 22  2 46 45 59 58 31 57 54 28 16
 49 42 20 29 63 61 35 24 33  3 47 34 11 44 32  5]
PRODUCT_SERVICE:
[3201    0 5745 ...  159 7090 3181]
COST_CENTER:
[2 1 4 6 5 3 0]
THIRD_RESPONSIBLE:
[162   0 262 179 367 165  55 273 459 457 451 234 246  97 306   7  92 414
 279 250 134 112 415 229 245 282 458  41 330  72 154 334  42 133 333 143
 171 153 462   1 292  51 354 337 428 253 468 312 439 297 412 296  58 285
 281 403 200 378 204 109  22 418 291  99   4 409 257  64 215 391 443 156
 471 464 235 433 399  32 265 368  24 372 222 421 446 227 304 369 264 328
 472 256 342 185 176 269 390 339 105  31 255 358 219 103 233  27 272 283
 375  71 194  53 449 261 278 387 132 327  73 174 404 427  34 364 123 394
 408 218 461 121  26  12 243 228 266   2 453 393 359 286 432 249 338 465
 151  50 420  91 271 380 302 382 314 214 202 238   5 366 248 422 341 239
 350 247 352 199 189 181 355 385 344 392 139 430 301 450 118 268 345 124
 106 197 332 107 166 150 274 438 383 236 100 170 120 376 373 122   9 192
 223 203 231 128 168 402 217 448 101  90  65 280 270 406 157 259 444 441
  17 357 389 158 186 102 267  77 410 108 159 447 325 104 377 201  81 445
 277 173 175 138  82  87  45 347  18 400 237  35 437 353 315  98 193 395
 190 126 310  56 431 371 336 343 230 426 205 284  28  14  74 293 320  61
 298 125 384  84 232 323 113 116  23  44 195  39 149  30  46 213 388  70
 144  52 466 206 379 313 131 172 423   8 413 322 140 309  10 129  11  79
 416 275 169 276 141  83 240 346 318 424 252 198 210 221 136 241 361 335
 212 295 242 326 160  47  25 303 216  94 398 111 469  86 290  48 460  38
  43 386 340 360 319 289 288 114 470 425 163 419 226 260 407  96 331 187
 456 137  88 363 299 305 429 467 191 300 455 119 463 348 155 224 440 411
 473 142 263  19  37 329 177 196 294 148 251   6 356  89  63  49 436 452
  59  54 258 225 324 401 435 287  60 417  40 381 307 130 146 442 321 220
 207 405 308 365  13 362  57 317 311  62 454 115 244 110 316  95  80   3
  68 434  66 135 184  67 167 161 351 127 209 208 254  33 145 117 180 396
  76  16  20 211  78 152 374  69  29 370 147 397 183  85  21  75 164 349
  15 182 178 188  36  93]
INVOICE_NUMBER:
[ 615584  615583  486396 ... 1033183    8604  714104]

In [13]:
df.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,SEQ_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,1,3,21289,16920,1,0,387,473,1,22200,...,NaN,10,3201,2,162,615584,1,61500,61500,0
1,1,3,21289,16920,1,0,387,473,1,22200,...,NaN,1,0,1,0,615583,1,19500,19500,0
2,1,3,21289,16920,1,0,387,473,1,22200,...,NaN,0,0,1,0,615584,-1,-19500,19500,0
3,0,0,677817,37055,4,0,514,139,1,22191,...,NaN,18,5745,4,0,486396,1,66721,66721,0
4,0,0,677817,37055,4,0,514,139,1,22191,...,NaN,18,5676,4,0,486396,1,1462,1462,0

In [14]:
df.dtypes

TYPE_ATTENTION                   int64
DETAIL_ATTENTION                 int64
SEQ_ATTENTION                    int64
SEQ_PATIENT                      int64
SEQ_ATTEN_PATIENT                int64
ROOM_ATTENTION                   int64
MAIN_SPECIALITY                 object
SEQ_DOCTOR                       int64
TYPE_PAYMENT_REPON               int64
PAYMENT_REPONSIBLE               int64
FEE_ATTENTION                    int64
SEX_PATIENT                      int64
AGE_PATIENT_START_ATTENTION      int64
AGE_PATIENT_FINISH_ATTENTION     int64
MINUTES_STAY                     int64
TYPE_AFFILIATE                   int64
TYPE_AFFILIATION_REGIME          int64
NUM_HISTORY_MED_SET_1            int64
NUM_HISTORY_MED_SET_2            int64
NUM_HISTORY_MED_SET_3            int64
NUM_HISTORY_MED_SET_4            int64
NUM_HISTORY_MED_SET_6            int64
NUM_HISTORY_MED_SET_7            int64
NUM_HISTORY_MED_SET_8            int64
NUM_HISTORY_MED_SET_9            int64
NUM_HISTORY_MED_SET_11           int64
NUM_HISTORY_MED_SET_12           int64
NUM_HISTORY_MED_SET_13           int64
NUM_HISTORY_MED_SET_14           int64
NUM_HISTORY_MED_SET_20           int64
NUM_HISTORY_MED_SET_23           int64
NUM_HISTORY_MED_SET_24           int64
NUM_HISTORY_MED_SET_25           int64
ENTRY_DIAGNOSIS                 object
PRINCIPAL_DIAGNOSIS             object
EGRESS_DIAGNOSIS                object
PREVIOUS_DIAGNOSIS              object
POST_DIAGNOSIS                  object
RELATED_DIAGNOSIS_1             object
RELATED_DIAGNOSIS_2             object
SPECIALITY_1                    object
SPECIALITY_2                    object
SPECIALITY_3                    object
SPECIALITY_4                    object
SPECIALITY_5                    object
SPECIALITY_6                    object
BILLING_CONCEPT                  int64
PRODUCT_SERVICE                  int64
COST_CENTER                      int64
THIRD_RESPONSIBLE                int64
INVOICE_NUMBER                   int64
QUANTITY_PRODUCT_SERVICE         int64
SALES_PRICE                      int64
INVOICED_PRICE                   int64
CLAIM                            int64
dtype: object

In [15]:
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].fillna(0)
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].replace('CON', 1)
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].replace('ACL', 2)
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].astype(np.int64)
##
df['SPECIALITY_1']=df['SPECIALITY_1'].fillna(0)
df['SPECIALITY_1']=df['SPECIALITY_1'].replace('CON', 1)
df['SPECIALITY_1']=df['SPECIALITY_1'].replace('ACL', 2)
df['SPECIALITY_1']=df['SPECIALITY_1'].astype(np.int64)
##
df['SPECIALITY_2']=df['SPECIALITY_2'].fillna(0)
df['SPECIALITY_2']=df['SPECIALITY_2'].replace('CON', 1)
df['SPECIALITY_2']=df['SPECIALITY_2'].replace('ACL', 2)
df['SPECIALITY_2']=df['SPECIALITY_2'].astype(np.int64)
##
df['SPECIALITY_3']=df['SPECIALITY_3'].fillna(0)
df['SPECIALITY_3']=df['SPECIALITY_3'].replace('CON', 1)
df['SPECIALITY_3']=df['SPECIALITY_3'].replace('ACL', 2)
df['SPECIALITY_3']=df['SPECIALITY_3'].astype(np.int64)
##
df['SPECIALITY_4']=df['SPECIALITY_4'].fillna(0)
df['SPECIALITY_4']=df['SPECIALITY_4'].replace('CON', 1)
df['SPECIALITY_4']=df['SPECIALITY_4'].replace('ACL', 2)
df['SPECIALITY_4']=df['SPECIALITY_4'].astype(np.int64)
##
df['SPECIALITY_5']=df['SPECIALITY_5'].fillna(0)
df['SPECIALITY_5']=df['SPECIALITY_5'].replace('CON', 1)
df['SPECIALITY_5']=df['SPECIALITY_5'].replace('ACL', 2)
df['SPECIALITY_5']=df['SPECIALITY_5'].astype(np.int64)
##
df['SPECIALITY_6']=df['SPECIALITY_6'].fillna(0)
df['SPECIALITY_6']=df['SPECIALITY_6'].replace('CON', 1)
df['SPECIALITY_6']=df['SPECIALITY_6'].replace('ACL', 2)
df['SPECIALITY_6']=df['SPECIALITY_6'].astype(np.int64)

In [16]:
print('MAIN_SPECIALITY:\n'+str(df['MAIN_SPECIALITY'].unique()))
print('SPECIALITY_1:\n'+str(df['SPECIALITY_1'].unique()))
print('SPECIALITY_2:\n'+str(df['SPECIALITY_2'].unique()))
print('SPECIALITY_3:\n'+str(df['SPECIALITY_3'].unique()))
print('SPECIALITY_4:\n'+str(df['SPECIALITY_4'].unique()))
print('SPECIALITY_5:\n'+str(df['SPECIALITY_5'].unique()))
print('SPECIALITY_6:\n'+str(df['SPECIALITY_6'].unique()))

MAIN_SPECIALITY:
[387 514   1 320 441 895 120 360 521 240 880 750 820 341 430 383 133 450
 550 386 310 500 200 148 515 137 312 480 440 590 230 925 132 991 410 142
 830 351 283 143 431 140 963 620 131 134 999  10 420 122 160 442 690 950
 138  21 740 902 190 141 995 121 551 602 136 382 870 998 144 147 992 903
 600 100 930 601 385 890 531   2 220 530  65 290]
SPECIALITY_1:
[  0 514   1 320 521 750 341 550 133 515 137 132 387 142 830 440 410 450
 143 441 131  10 991 160 148 310 430 480 200 386 230  21 138 420 190 134
 995 121 551 141 120 136 431 382 870 925 140 950 442 147 602 992 100 590
 895 531 290 740 351]
SPECIALITY_2:
[  0 521 440 310 750 514 441   1 133 991 137 387 142 341 480 148 138 143
 740 830 450 320 120 410 550 430 230 590 134 121 515  21 160 351]
SPECIALITY_3:
[  0 440 441 430 750 521 514 142   1 310 133 143 137]
SPECIALITY_4:
[0 1]
SPECIALITY_5:
[  0 440   1]
SPECIALITY_6:
[0 1]

In [17]:
df.dtypes

TYPE_ATTENTION                   int64
DETAIL_ATTENTION                 int64
SEQ_ATTENTION                    int64
SEQ_PATIENT                      int64
SEQ_ATTEN_PATIENT                int64
ROOM_ATTENTION                   int64
MAIN_SPECIALITY                  int64
SEQ_DOCTOR                       int64
TYPE_PAYMENT_REPON               int64
PAYMENT_REPONSIBLE               int64
FEE_ATTENTION                    int64
SEX_PATIENT                      int64
AGE_PATIENT_START_ATTENTION      int64
AGE_PATIENT_FINISH_ATTENTION     int64
MINUTES_STAY                     int64
TYPE_AFFILIATE                   int64
TYPE_AFFILIATION_REGIME          int64
NUM_HISTORY_MED_SET_1            int64
NUM_HISTORY_MED_SET_2            int64
NUM_HISTORY_MED_SET_3            int64
NUM_HISTORY_MED_SET_4            int64
NUM_HISTORY_MED_SET_6            int64
NUM_HISTORY_MED_SET_7            int64
NUM_HISTORY_MED_SET_8            int64
NUM_HISTORY_MED_SET_9            int64
NUM_HISTORY_MED_SET_11           int64
NUM_HISTORY_MED_SET_12           int64
NUM_HISTORY_MED_SET_13           int64
NUM_HISTORY_MED_SET_14           int64
NUM_HISTORY_MED_SET_20           int64
NUM_HISTORY_MED_SET_23           int64
NUM_HISTORY_MED_SET_24           int64
NUM_HISTORY_MED_SET_25           int64
ENTRY_DIAGNOSIS                 object
PRINCIPAL_DIAGNOSIS             object
EGRESS_DIAGNOSIS                object
PREVIOUS_DIAGNOSIS              object
POST_DIAGNOSIS                  object
RELATED_DIAGNOSIS_1             object
RELATED_DIAGNOSIS_2             object
SPECIALITY_1                     int64
SPECIALITY_2                     int64
SPECIALITY_3                     int64
SPECIALITY_4                     int64
SPECIALITY_5                     int64
SPECIALITY_6                     int64
BILLING_CONCEPT                  int64
PRODUCT_SERVICE                  int64
COST_CENTER                      int64
THIRD_RESPONSIBLE                int64
INVOICE_NUMBER                   int64
QUANTITY_PRODUCT_SERVICE         int64
SALES_PRICE                      int64
INVOICED_PRICE                   int64
CLAIM                            int64
dtype: object

In [18]:
df_cie10.head()

,SEQ_DIAGNOSIS,ID_DIAGNOSIS,DIAGNOSIS
0,1,A000,"COLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO CH..."
1,2,A001,"COLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO EL..."
2,3,A009,"COLERA, NO ESPECIFICADO"
3,4,A010,FIEBRE TIFOIDEA
4,5,A011,FIEBRE PARATIFOIDEA A

In [19]:
df['ENTRY_DIAGNOSIS'] = df['ENTRY_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['ENTRY_DIAGNOSIS']=df['ENTRY_DIAGNOSIS'].fillna(0)
df['ENTRY_DIAGNOSIS']=df['ENTRY_DIAGNOSIS'].astype(np.int64)
##
df['PRINCIPAL_DIAGNOSIS'] = df['PRINCIPAL_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['PRINCIPAL_DIAGNOSIS']=df['PRINCIPAL_DIAGNOSIS'].fillna(0)
df['PRINCIPAL_DIAGNOSIS']=df['PRINCIPAL_DIAGNOSIS'].astype(np.int64)
##
df['EGRESS_DIAGNOSIS'] = df['EGRESS_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['EGRESS_DIAGNOSIS']=df['EGRESS_DIAGNOSIS'].fillna(0)
df['EGRESS_DIAGNOSIS']=df['EGRESS_DIAGNOSIS'].astype(np.int64)
##
df['PREVIOUS_DIAGNOSIS'] = df['PREVIOUS_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['PREVIOUS_DIAGNOSIS']=df['PREVIOUS_DIAGNOSIS'].fillna(0)
df['PREVIOUS_DIAGNOSIS']=df['PREVIOUS_DIAGNOSIS'].astype(np.int64)
##
df['POST_DIAGNOSIS'] = df['POST_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['POST_DIAGNOSIS']=df['POST_DIAGNOSIS'].fillna(0)
df['POST_DIAGNOSIS']=df['POST_DIAGNOSIS'].astype(np.int64)
##
df['RELATED_DIAGNOSIS_1'] = df['RELATED_DIAGNOSIS_1'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['RELATED_DIAGNOSIS_1']=df['RELATED_DIAGNOSIS_1'].fillna(0)
df['RELATED_DIAGNOSIS_1']=df['RELATED_DIAGNOSIS_1'].astype(np.int64)
##
df['RELATED_DIAGNOSIS_2'] = df['RELATED_DIAGNOSIS_2'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['RELATED_DIAGNOSIS_2']=df['RELATED_DIAGNOSIS_2'].fillna(0)
df['RELATED_DIAGNOSIS_2']=df['RELATED_DIAGNOSIS_2'].astype(np.int64)

In [20]:
print('ENTRY_DIAGNOSIS:\n'+str(df['ENTRY_DIAGNOSIS'].unique()))
print('PRINCIPAL_DIAGNOSIS:\n'+str(df['PRINCIPAL_DIAGNOSIS'].unique()))
print('EGRESS_DIAGNOSIS:\n'+str(df['EGRESS_DIAGNOSIS'].unique()))
print('PREVIOUS_DIAGNOSIS:\n'+str(df['PREVIOUS_DIAGNOSIS'].unique()))
print('POST_DIAGNOSIS:\n'+str(df['POST_DIAGNOSIS'].unique()))
print('RELATED_DIAGNOSIS_1:\n'+str(df['RELATED_DIAGNOSIS_1'].unique()))
print('RELATED_DIAGNOSIS_2:\n'+str(df['RELATED_DIAGNOSIS_2'].unique()))

ENTRY_DIAGNOSIS:
[   0 3403 3240 ... 7606 2010 2276]
PRINCIPAL_DIAGNOSIS:
[   0 3403 3240 ... 2010 3075  966]
EGRESS_DIAGNOSIS:
[    0    61  5043   459  8643  8047  6341  3673  3163  4769  5343  5145
  7172  5962    52  5313  3658  3600   519  7849  3616  3558  3775  4022
  3611  3625  7909  3668  4215  2295  7185  7910  3133  4682  4096  5267
  5374  7360  3606  7917  7912  7494  7683  1005  3607  7737  5952  4217
  2617  3686  5312  7740  3944  7040  5381  7554  7861  3621  7684  7902
  4108  7893  4790  7860  4761   212   777  5470  4290  4388  3613    56
  4928  4745  3610  7113  3612  5365  4098  3822  3821  7907  4961  7615
  7430  6340  7014  7846  7051  3605  4658  1881    39  3819  4003    53
  3103  1567  7553  7627  5509  7678  5337  4266  5412  4985  3646  7623
  7750  3630    46  2482  5342  7041  5008  4109  7908  3405  3738    37
  4698  2645  8487  7749  4078  4081  2619   518  4963  4948  3403  4945
  3576  5963  3654  4045  4291 12004  3672  1426  3263  5401  2061  5397
 12583  3678  3124  7836  7052  7906  3633  3472  5311  7363  4080  4750
  4759  5627  7361  4288  5382  4286  3909  3257  7729  5965  1803  7373
  7050  2063  7851  6376  2632  1023  3918  5315  4216 11819  5040  7624
  2293  4911   496  4916  4420  3735  3669  4091  7679 12188  3240  7537
  2607  7625  3513  1427  4593  3165  4723  5639  2298  2877  7493  6717
  5423  7903  4250  3187  5488  4935  5321  7919 12174  4218   879  1520
  4741  4016  3961  7027  2642  4092  4877 12270  4913  3402   513  7631
  7688  3602  5489  6705  4977  7636  5966  4221  3956  2653  3601  1432
  3648  5022  8098   197  3290  8459  7744  7412  8159  4103  7669  3547
  7748  2703  2297  2984  7845  4294  4521  4753  3664  3791  1425  4302
  7918  7848  5349  7857  2615   443   402  2616  2873  2105  4054  3645
  2896 12582  8052  7022  4024  5530  4222  3924  4094  7852  4033 12627
  7129    27  3634  4220  7329  3548  3614 12311 11996  7896  3366  3946
  3945  5403  7544  4018  7174  4410  5021  7723  3617  3687  3603  2047
  7171  2973  3997   440  5012 12178  7178  4001  3261  7680  4729  4992
  2891  5359  1380  4281  4983  3453  4374  2817  4036  3127  3653  5010
  4714  3100  1200  4121  4118  7012  4004  1626  4002   221  7799  3107
  5316 12254  5580  7378  5023  3623  5479  3111  3555  3731  7735   441
  7790 12462  7413  1056  6293  5710  4967  7049 12542  2501  5702  8644
  4737  7429  4219  2630  2614  7490  7689  6324  3720  3921  7180  4469
  4696  2570  2175  4427  3005  4886  2534  3893  3734  7560 12516  5027
  5536  7850  6676  5459   886  4247  4591  5135  4852  3608   175  4907
  2612  2336   195  3649 12215  7098  3667  7170  5360  5338  7179  3118
  3948  4347  7058  2560  3113  3556  5496  4908  4903  6697  7803  3732
  5517  7083  7108  4909  4224  8046  7091  5847  2254  4097  4773  3677
   885  7184  7539  3385  2667  3960  2826  7675  3609  7109  4931  4364
  3573  3008  5173   875  7859  6752  3655  2068  7632  3739  4974  5444
  6651   498  7187  4862  2108  5507  4927   436  7567  2830 11960  7847
  4154  4196  4119  4293  2608  3037  4905  3023  7613   512  7692  4195
  3624  5579  4115  4252   977  7048  3114  7844  5649   974  4987  2277
  5042  7558  7771  5172  3557  4299  7835  4006  3972  1514  3258  7062
  2618 10011  4435  1633  1510  3036  4116   433  1519  7013  7111  7405
  7057  7736  2103  3969  4972  4086  4889  3551  3689   495  7356  4513
  8029  4826  1747  7176  7738  7901  7734  7175  7112  4920  1869   910
  3959  2705  2875  4518  5393 12306  7557  7599 12005  7894  3830  4005
  5424  2900  4888  5396  4982  4389  7181  4951  4046  3438  1460  5621
  3099  8158  3482  7682  5318  5584  3285  5330  7555  7406  7913  5314
  7725  5481  2268  1355  1301  3444  1041  7054  1667  3267  5727  4273
  7755  3777  2586  3540  4774  7427  4995  3538  7837  4284  3554  7967
  2897   439  5317  7806  8484  5454  2107  5956  4857  5147  7038  5823
  3695  2759  6759  1825  2864  4964  5033  3247  3641  7732  1035   222
  4743  7263  2881  2640  7730  4017  2045  7801  5274  3585  3254  3520
  6736  7192  1446  7878  7805    57  7655  7739  4055   907  3517    62
  8053  5484  8509  5949    28  2622  7670  6806  4925  4724  6202  3119
  1330  4102  7854  3098 12391  9985  6164  1634  4030 11780  2095  9981
  4950  2620  7741  5030  5634  3314  4271  2621  5780  5367  4295  3736
  1528  5698  4332  2687  1811  3657  7365  6773  5669  4772  8006 12096
  3626  7416  1495  5664  1387  4941  5309  2920  6016  5405  4029  7841
  3700  5654  7980  6868  3671  4301    36  5587  5301  4428  3701   923
  7440  5015  3059  5577  4093  5592  3425  3394  4070  7477  2275  7454
  1512 12084 12255   220  5849   420  3627  4125  7028  7088  4984  2970
  1851  1604   366  3789  5273  5037  1661  8050  5035  7370  1487  1770
  7791  3877  6308  3682  8066  2493   538  1771  3588  8005  3383  5722
  4768  5493  7037   781  4777 12156  8063   778  2797  4114  8014  5729
  8598  7556   719  4060  4740]
PREVIOUS_DIAGNOSIS:
[    0  2878  2984  7858  4749  2803  4729  7373  4788  7915  7627 12627
  4677  5535  7683  6483    61  5963  4756  3687  5271  4913  7857  5309
  3405  7908  4730  4043  3695 12163  7846  4886  7098   952  4961  5096
  3696  4748  2831  4743  7855  1415  2979  1427  4738  3263  7625  7878
  4018  3240  4889  4215  5274 12158  5147  7859  5374  7060  1452  5030
  4763  4915  2773  7849  7860  4022  4768  7682  5151  5534  4750  5026
  5403  4747 12188  4195  2645   980  5338  2295  5272  1078  2991  4302
  7022  5496  6481   485  3946  8644   640  3122  5797  7049  4091  4287
  5311  3113  3700  7632  5173  8643  7907 12173  3129  3945  1023  1382
  4585  4024  4045  4912  5512  3450  7740  4216  4963  3822  5036  7769
  3573  4744  4754  4973  4036  7678  3699  7174 12177  4521  3698  3431
   867  7822  4017  2761  4723  7048  3290  5040  3106  4888  1381 12098
  5399  5313  4777  7845  4093  4337  7631  4773  1482  6826  4301  6805
  3732  7774   837  2760  5009  4986  1747  4753  7623  4291  7684  5140
   959  2759  4221  3142  4769  4139  8034  5367  4746  4249  4554  8020
  2889  4924  3426  6767 12254  3139  4995  7781  3646  4745  3438  4153
  8487  4856  3146  5434  1771  5321  7861  7680  3127  4469]
POST_DIAGNOSIS:
[    0  4022  1404  5364  5966  4658  5403  1487  7623  2878  2984  7858
  5342  4749  2803  1054  4043  4221  3696  4729  4125  5928  7373  7852
  4740  7678  4121  7627 12627  4677  5896  4137  5535  5963  7683  6483
  4018  4045  4756  4215  5271  4913  7915  7857  4911  4904  4092  5381
  5040  4730  6486  4035  7845  5338  4127  7098  3686  2944  4737  3695
  4961 12158  1502  5096  4233  4155  2831   433  4743  3687  7855  1415
  2979  5484  5312  1514  4753  7377  5420  7878  3802  7080  1427  5274
  5147  7859  1078  1489  4220  1452  4763  3798  4372  5843  5399  5783
  4915  2773  4823  4023  4857  3158  5361  4761  3692  4130  5793  5405
  7860  4888  4768  5311  1073  3962  5512  7682   959  5580  4216  5611
  3701  5534  7681  5316  4266  5523  7598  4750  5026  1056  7735  4889
  4528  5341  5797  4195  7112  1381  4927  7774  4230  4034  5517  4748
  4054  4222  2645   980  4919  1294   886  5522  2937  4963  5272  5622
  1432  5794  4017  4722  5780   884  2991  4302  7022  4886  4157  3554
  5496   485  7111  4912  3946  4591  5962  4773   640  4154  3122  4129
  4139  7625  3552  3950  4287  3979  5489  5855   816  5552  4758  4782
  3113  7632  1071  5173  4979  5333  7907  4093  3945  1420  1023  4585
  1072  4024  2903  1312  7737  3699  5434  7747  1968  7740  4769  5206
  5897  4286  4036  7626  4893  5010  5432  1491  1113  7769  3573  5518
  5482  4754  4973  3698  7684  3904  4219  7174  3786  4521  4856  6773
  5902  7631  5467  1373  7770  3431   867  4089  7822  2760  4790  7746
  2761  4524  4723  5454  7547  3646  3106  4920  7849  5314  3576  4774
 12098  4907  5313  4777  2834  3805  7846  5374  6826   748  5402  4301
  4046  1482  6805  1035  5315  1005  4091  4724  4033  5009  4986  7657
  5457  5140  1382  4082  3689  4788  4060  4057  7443  3142  5039  3700
  4138   937  7636  4744  4757  7733 12163  6783  5365  7799  3688  1387
  5790  8034  5367  4925  4759  4746  4249  5276  2688  4203  5459  4554
  8020  2889  1380  6750  7047  2687  3426  4153  6767 11968  2759  4223
  5400  9920 12254  5396   978  3438  3139  5172  5149  4944  1031  4117
  5321  6799  4924  4968  7781  1388  4745  3804  4128  4877  7771  6651
   892  3146  4770  5410  3682  7861  7680  3127  4469   784  4739]
RELATED_DIAGNOSIS_1:
[    0 12462  7409  4744  3566  1788  3600  3678  5030  3684  3365  4981
  5601  3654  2830  5591  4221  7740  2076  7405  5341  4063  2900  4769]
RELATED_DIAGNOSIS_2:
[   0 3600 7526 4744 3677 1788 3678 5030 1968 3365 4962 5467 3654 2830
 5591 4221 7740 2076 7363 6774 4134 4063 5341 2900 4769]

In [21]:
df.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,SEQ_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,1,3,21289,16920,1,0,387,473,1,22200,...,0,10,3201,2,162,615584,1,61500,61500,0
1,1,3,21289,16920,1,0,387,473,1,22200,...,0,1,0,1,0,615583,1,19500,19500,0
2,1,3,21289,16920,1,0,387,473,1,22200,...,0,0,0,1,0,615584,-1,-19500,19500,0
3,0,0,677817,37055,4,0,514,139,1,22191,...,0,18,5745,4,0,486396,1,66721,66721,0
4,0,0,677817,37055,4,0,514,139,1,22191,...,0,18,5676,4,0,486396,1,1462,1462,0

In [22]:
df.dtypes

TYPE_ATTENTION                  int64
DETAIL_ATTENTION                int64
SEQ_ATTENTION                   int64
SEQ_PATIENT                     int64
SEQ_ATTEN_PATIENT               int64
ROOM_ATTENTION                  int64
MAIN_SPECIALITY                 int64
SEQ_DOCTOR                      int64
TYPE_PAYMENT_REPON              int64
PAYMENT_REPONSIBLE              int64
FEE_ATTENTION                   int64
SEX_PATIENT                     int64
AGE_PATIENT_START_ATTENTION     int64
AGE_PATIENT_FINISH_ATTENTION    int64
MINUTES_STAY                    int64
TYPE_AFFILIATE                  int64
TYPE_AFFILIATION_REGIME         int64
NUM_HISTORY_MED_SET_1           int64
NUM_HISTORY_MED_SET_2           int64
NUM_HISTORY_MED_SET_3           int64
NUM_HISTORY_MED_SET_4           int64
NUM_HISTORY_MED_SET_6           int64
NUM_HISTORY_MED_SET_7           int64
NUM_HISTORY_MED_SET_8           int64
NUM_HISTORY_MED_SET_9           int64
NUM_HISTORY_MED_SET_11          int64
NUM_HISTORY_MED_SET_12          int64
NUM_HISTORY_MED_SET_13          int64
NUM_HISTORY_MED_SET_14          int64
NUM_HISTORY_MED_SET_20          int64
NUM_HISTORY_MED_SET_23          int64
NUM_HISTORY_MED_SET_24          int64
NUM_HISTORY_MED_SET_25          int64
ENTRY_DIAGNOSIS                 int64
PRINCIPAL_DIAGNOSIS             int64
EGRESS_DIAGNOSIS                int64
PREVIOUS_DIAGNOSIS              int64
POST_DIAGNOSIS                  int64
RELATED_DIAGNOSIS_1             int64
RELATED_DIAGNOSIS_2             int64
SPECIALITY_1                    int64
SPECIALITY_2                    int64
SPECIALITY_3                    int64
SPECIALITY_4                    int64
SPECIALITY_5                    int64
SPECIALITY_6                    int64
BILLING_CONCEPT                 int64
PRODUCT_SERVICE                 int64
COST_CENTER                     int64
THIRD_RESPONSIBLE               int64
INVOICE_NUMBER                  int64
QUANTITY_PRODUCT_SERVICE        int64
SALES_PRICE                     int64
INVOICED_PRICE                  int64
CLAIM                           int64
dtype: object

In [25]:
df.to_csv('claims.csv', index=False, encoding='utf-8')