<img src="https://www.unir.net/wp-content/uploads/2019/11/Unir_2021_logo.svg" width="240" height="240" align="right"/>

<center><h1>Sistema inteligente para ayudar a detectar posibles reclamos (glosas) en las cuentas médicas previo al cobro, de una clínica en Colombia - Audimed</h1></center>
<center><h2>Trabajo Fin de Master<br>Máster Universitario en Análisis y Visualización de Datos Masivos / Visual Analytics and Big Data</h2></center>

<h3>Presentado por: Jacqueline Guzmán Rodriguez</h3>
<h4>Tipo de trabajo: Desarrollo Software <br>
Director: Juan Carlos Rincon Acuña <br>
Fecha: Junio/2024</h4>

## Importación de librerias necesarias

In [1]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

## Carga de archivo con datos originales de las reclamaciones, extraidos del ERP y HIS de la Clínica

In [2]:
# Read file TXT with clinical oring data
file_cvs = "claims_origin.txt"
# Create dataframe with information of file TXT
df_origin = pd.read_csv(file_cvs, delimiter='|', decimal=",", on_bad_lines='skip', encoding='unicode_escape')

C:\Users\jacqui\AppData\Local\Temp\ipykernel_24984\1322685191.py:4: DtypeWarning: Columns (5,36,37,38,39,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df_origin = pd.read_csv(file_cvs, delimiter='|', decimal=",", on_bad_lines='skip', encoding='unicode_escape')

#### Carga de archivo con el listado de los diagnóstico según el CIE10, y un consecutivo númerico, equivalente necesario para la transformación de los diagnósticos
##### Tabla original descargada de las tablas de referencia de la plataforma del SISPRO, del ministerio de protección social de Colombia
https://web.sispro.gov.co/WebPublico/Consultas/ConsultarDetalleReferenciaBasica.aspx?Code=cie10

In [3]:
# Read file with CIE10 CSV - Donwload dataset in https://www.kaggle.com/datasets/d8e399cf772f115f4350cae12016ef9f497f63389a06dfdceb3292aa7fb72956
file_cvs = "seq_cie10.csv"
# Create dataframe with information of file CSV
df_cie10 = pd.read_csv(file_cvs, delimiter=';', encoding='unicode_escape')

In [4]:
# Show type data, confirm columns and fields
pd.set_option('display.max_rows', 100)
df_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6104443 entries, 0 to 6104442
Data columns (total 55 columns):
 #   Column                        Dtype
---  ------                        -----
 0   TYPE_ATTENTION                object
 1   DETAIL_ATTENTION              object
 2   SEQ_ATTENTION                 int64
 3   SEQ_PATIENT                   int64
 4   SEQ_ATTEN_PATIENT             int64
 5   ROOM_ATTENTION                object
 6   MAIN_SPECIALITY               object
 7   ID_DOCTOR                     object
 8   TYPE_PAYMENT_REPON            object
 9   PAYMENT_REPONSIBLE            object
 10  FEE_ATTENTION                 object
 11  SEX_PATIENT                   object
 12  AGE_PATIENT_START_ATTENTION   int64
 13  AGE_PATIENT_FINISH_ATTENTION  int64
 14  MINUTES_STAY                  int64
 15  TYPE_AFFILIATE                object
 16  TYPE_AFFILIATION_REGIME       object
 17  NUM_HISTORY_MED_SET_1         int64
 18  NUM_HISTORY_MED_SET_2         int64
 19  NUM_HISTORY_MED_SET_3         int64
 20  NUM_HISTORY_MED_SET_4         int64
 21  NUM_HISTORY_MED_SET_6         int64
 22  NUM_HISTORY_MED_SET_7         int64
 23  NUM_HISTORY_MED_SET_8         int64
 24  NUM_HISTORY_MED_SET_9         int64
 25  NUM_HISTORY_MED_SET_11        int64
 26  NUM_HISTORY_MED_SET_12        int64
 27  NUM_HISTORY_MED_SET_13        int64
 28  NUM_HISTORY_MED_SET_14        int64
 29  NUM_HISTORY_MED_SET_20        int64
 30  NUM_HISTORY_MED_SET_23        int64
 31  NUM_HISTORY_MED_SET_24        int64
 32  NUM_HISTORY_MED_SET_25        int64
 33  ENTRY_DIAGNOSIS               object
 34  PRINCIPAL_DIAGNOSIS           object
 35  EGRESS_DIAGNOSIS              object
 36  PREVIOUS_DIAGNOSIS            object
 37  POST_DIAGNOSIS                object
 38  RELATED_DIAGNOSIS_1           object
 39  RELATED_DIAGNOSIS_2           object
 40  SPECIALITY_1                  object
 41  SPECIALITY_2                  object
 42  SPECIALITY_3                  object
 43  SPECIALITY_4                  object
 44  SPECIALITY_5                  object
 45  SPECIALITY_6                  object
 46  BILLING_CONCEPT               object
 47  PRODUCT_SERVICE               object
 48  COST_CENTER                   int64
 49  THIRD_RESPONSIBLE             int64
 50  INVOICE_NUMBER                int64
 51  QUANTITY_PRODUCT_SERVICE      float64
 52  SALES_PRICE                   float64
 53  INVOICED_PRICE                float64
 54  CLAIM                         int64
dtypes: float64(3), int64(26), object(26)
memory usage: 2.5+ GB

In [5]:
df_origin.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,ID_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,hosp_urge,URGE,2292733,337759,2,NaN,CON,CONE,E,SURAMERICANA(UYH),...,NaN,MATM,DS0025,8201,0,1258881,1.0,42.64,42.64,0
1,hosp_urge,URGE,2292733,337759,2,NaN,CON,CONE,E,SURAMERICANA(UYH),...,NaN,MEIE,J71761,8201,0,1258881,1.0,8.66,8.66,0
2,hosp_urge,URGE,2292733,337759,2,NaN,CON,CONE,E,SURAMERICANA(UYH),...,NaN,MEIE,J78326,8201,0,1258881,2.0,0.58,0.58,0
3,hosp_urge,URGE,2292733,337759,2,NaN,CON,CONE,E,SURAMERICANA(UYH),...,NaN,MEIE,J2073,8201,0,1258881,1.0,1.78,1.78,0
4,hosp_urge,URGE,2292733,337759,2,NaN,CON,CONE,E,SURAMERICANA(UYH),...,NaN,MEDE,J974,8201,0,1258881,1.0,1.68,1.68,0

## Inicio del proceso de transformación y anonimización de la data

In [6]:
# Create dataframe for procesing and tranforming of data (anonymization data)
df=df_origin

In [7]:
# Manual transform to number columns with alphanumeric data
## 
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].fillna(0)
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].replace('hosp_urge', 0)
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].replace('ambulatorio', 1)
df['TYPE_ATTENTION']=df['TYPE_ATTENTION'].astype(np.int64)
##
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].fillna(0)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('HOSP', 0)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('URGE', 1)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('LABO', 2)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('CEXT', 3)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('AYDX', 4)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].replace('AYRA', 5)
df['DETAIL_ATTENTION']=df['DETAIL_ATTENTION'].astype(np.int64)
##
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].fillna(0)
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].replace('P', 0)
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].replace('E', 1)
df['TYPE_PAYMENT_REPON']=df['TYPE_PAYMENT_REPON'].astype(np.int64)
##
df['SEX_PATIENT']=df['SEX_PATIENT'].fillna(0)
df['SEX_PATIENT']=df['SEX_PATIENT'].replace('F', 0)
df['SEX_PATIENT']=df['SEX_PATIENT'].replace('M', 1)
df['SEX_PATIENT']=df['SEX_PATIENT'].replace('I', 1)
df['SEX_PATIENT']=df['SEX_PATIENT'].astype(np.int64)
##
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].fillna(0)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].replace('A', 0)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].replace('B', 1)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].replace('C', 1)
df['TYPE_AFFILIATE']=df['TYPE_AFFILIATE'].astype(np.int64)
##
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].fillna(0)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].replace('C', 0)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].replace('O', 1)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].replace('P', 1)
df['TYPE_AFFILIATION_REGIME']=df['TYPE_AFFILIATION_REGIME'].astype(np.int64)

In [8]:
print('TYPE_ATTENTION:\n'+str(df['TYPE_ATTENTION'].unique()))
print('DETAIL_ATTENTION:\n'+str(df['DETAIL_ATTENTION'].unique()))
print('TYPE_PAYMENT_REPON:\n'+str(df['TYPE_PAYMENT_REPON'].unique()))
print('SEX_PATIENT:\n'+str(df['SEX_PATIENT'].unique()))
print('TYPE_AFFILIATE:\n'+str(df['TYPE_AFFILIATE'].unique()))
print('TYPE_AFFILIATION_REGIME:\n'+str(df['TYPE_AFFILIATION_REGIME'].unique()))

TYPE_ATTENTION:
[0 1]
DETAIL_ATTENTION:
[1 3 0 5 2 4]
TYPE_PAYMENT_REPON:
[1 0]
SEX_PATIENT:
[0 1]
TYPE_AFFILIATE:
[1 0]
TYPE_AFFILIATION_REGIME:
[0 1]

In [9]:
df.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,ID_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,0,1,2292733,337759,2,NaN,CON,CONE,1,SURAMERICANA(UYH),...,NaN,MATM,DS0025,8201,0,1258881,1.0,42.64,42.64,0
1,0,1,2292733,337759,2,NaN,CON,CONE,1,SURAMERICANA(UYH),...,NaN,MEIE,J71761,8201,0,1258881,1.0,8.66,8.66,0
2,0,1,2292733,337759,2,NaN,CON,CONE,1,SURAMERICANA(UYH),...,NaN,MEIE,J78326,8201,0,1258881,2.0,0.58,0.58,0
3,0,1,2292733,337759,2,NaN,CON,CONE,1,SURAMERICANA(UYH),...,NaN,MEIE,J2073,8201,0,1258881,1.0,1.78,1.78,0
4,0,1,2292733,337759,2,NaN,CON,CONE,1,SURAMERICANA(UYH),...,NaN,MEDE,J974,8201,0,1258881,1.0,1.68,1.68,0

In [10]:
# Transform data alphanumeric to number for columns using OrdinalEncoder
enc = OrdinalEncoder()
##
df['SEQ_ATTENTION']=df['SEQ_ATTENTION'].fillna(0)
df[["SEQ_ATTENTION"]] = enc.fit_transform(df[["SEQ_ATTENTION"]])
df['SEQ_ATTENTION']=df['SEQ_ATTENTION'].astype(np.int64)
##
df['SEQ_PATIENT']=df['SEQ_PATIENT'].fillna(0)
df[["SEQ_PATIENT"]] = enc.fit_transform(df[["SEQ_PATIENT"]])
df['SEQ_PATIENT']=df['SEQ_PATIENT'].astype(np.int64)
##
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].fillna(0)
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].replace({'J':''},regex=True)
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].astype(str)
df[["ROOM_ATTENTION"]] = enc.fit_transform(df[["ROOM_ATTENTION"]])
df['ROOM_ATTENTION']=df['ROOM_ATTENTION'].astype(np.int64)
##
df['ID_DOCTOR']=df['ID_DOCTOR'].fillna(0)
df['ID_DOCTOR']=df['ID_DOCTOR'].astype(str)
df[["ID_DOCTOR"]] = enc.fit_transform(df[["ID_DOCTOR"]])
df['ID_DOCTOR']=df['ID_DOCTOR'].astype(np.int64)
##
df['PAYMENT_REPONSIBLE']=df['PAYMENT_REPONSIBLE'].fillna(0)
df['PAYMENT_REPONSIBLE']=df['PAYMENT_REPONSIBLE'].astype(str)
df[["PAYMENT_REPONSIBLE"]] = enc.fit_transform(df[["PAYMENT_REPONSIBLE"]])
df['PAYMENT_REPONSIBLE']=df['PAYMENT_REPONSIBLE'].astype(np.int64)
##
df['FEE_ATTENTION']=df['FEE_ATTENTION'].fillna(0)
df['FEE_ATTENTION']=df['FEE_ATTENTION'].astype(str)
df[["FEE_ATTENTION"]] = enc.fit_transform(df[["FEE_ATTENTION"]])
df['FEE_ATTENTION']=df['FEE_ATTENTION'].astype(np.int64)
##
df['BILLING_CONCEPT']=df['BILLING_CONCEPT'].fillna(0)
df['BILLING_CONCEPT']=df['BILLING_CONCEPT'].astype(str)
df[["BILLING_CONCEPT"]] = enc.fit_transform(df[["BILLING_CONCEPT"]])
df['BILLING_CONCEPT']=df['BILLING_CONCEPT'].astype(np.int64)
##
df['PRODUCT_SERVICE']=df['PRODUCT_SERVICE'].fillna(0)
df['PRODUCT_SERVICE']=df['PRODUCT_SERVICE'].astype(str)
df[["PRODUCT_SERVICE"]] = enc.fit_transform(df[["PRODUCT_SERVICE"]])
df['PRODUCT_SERVICE']=df['PRODUCT_SERVICE'].astype(np.int64)
##
df['COST_CENTER']=df['COST_CENTER'].fillna(0)
df['COST_CENTER']=df['COST_CENTER'].astype(str)
df[["COST_CENTER"]] = enc.fit_transform(df[["COST_CENTER"]])
df['COST_CENTER']=df['COST_CENTER'].astype(np.int64)
##
df['THIRD_RESPONSIBLE']=df['THIRD_RESPONSIBLE'].fillna(0)
df['THIRD_RESPONSIBLE']=df['THIRD_RESPONSIBLE'].astype(str)
df[["THIRD_RESPONSIBLE"]] = enc.fit_transform(df[["THIRD_RESPONSIBLE"]])
df['THIRD_RESPONSIBLE']=df['THIRD_RESPONSIBLE'].astype(np.int64)
##
df['INVOICE_NUMBER']=df['INVOICE_NUMBER'].fillna(0)
df['INVOICE_NUMBER']=df['INVOICE_NUMBER'].astype(str)
df[["INVOICE_NUMBER"]] = enc.fit_transform(df[["INVOICE_NUMBER"]])
df['INVOICE_NUMBER']=df['INVOICE_NUMBER'].astype(np.int64)

In [11]:
print('SEQ_ATTENTION:\n'+str(df['SEQ_ATTENTION'].unique()))
print('SEQ_PATIENT:\n'+str(df['SEQ_PATIENT'].unique()))
print('ROOM_ATTENTION:\n'+str(df['ROOM_ATTENTION'].unique()))
print('ID_DOCTOR:\n'+str(df['ID_DOCTOR'].unique()))
print('PAYMENT_REPONSIBLE:\n'+str(df['PAYMENT_REPONSIBLE'].unique()))
print('BILLING_CONCEPT:\n'+str(df['BILLING_CONCEPT'].unique()))
print('PRODUCT_SERVICE:\n'+str(df['PRODUCT_SERVICE'].unique()))
print('COST_CENTER:\n'+str(df['COST_CENTER'].unique()))
print('THIRD_RESPONSIBLE:\n'+str(df['THIRD_RESPONSIBLE'].unique()))
print('INVOICE_NUMBER:\n'+str(df['INVOICE_NUMBER'].unique()))

SEQ_ATTENTION:
[508562  21289 463993 ... 657531 171135 531030]
SEQ_PATIENT:
[ 48676  16920  11684 ...  87592 103311  89502]
ROOM_ATTENTION:
[ 0  4 34 36  8 26 38 21 10 27 13 18 20 32 11 28 45 43 33 35 23 24  3 47
  1 25 17 30 46 31 48  7 40 52  2  9  5 29 49 44 16 39 55 14 54 57 53 58
 50  6 41 12 51 37 42 56 22 15 19]
ID_DOCTOR:
[372 473 176 426 139 429 420 502 373 423   0 446 542 592 637 368 416 563
 506 432 639  63 463 422 631 394  17 587 384 431  80 555 475 595 436 381
 405 192 531 386 550 638 380 551 430 459 509 367 424 543 391 588 292 634
 483 390 605 377  18 281 536 627 606 402 512 549 230 484 515 590 284 474
 538 248 496 477 495 389 425 190 464 584 329 396 319  40 407 435 412 533
 476 184 177 433  34 471 596 572 480 411 443 399 245 179 451 440 564 198
 103 314 185 439 374 470 287 523 437 308 460 498 504 529 603 275 277 385
 472 419 441 519 461 593 635 481 104 566 560 438 562 573 132 175 554 312
 388 455 448 450 445 316 369 409 540 408  68 526 488 348 209   1 452 607
 490 341 478 583 582 499 283 571 353 625 528 541 487 352 579 194 223 334
 619 247 376 421 392 570 591 346 524 387 298 120 618 112 347 636 507 612
 613  83 311 167 335   9 197 456 552 503 598 333 494 149 305 513 557 444
 442 121 589 629 539 418 558 195 608  82 288 609 339 489 215 285 257 154
 521 205 324 310 467 266 624  93 465 559 178 482 469 186 261 244 365 527
 303 360 273 602 315 207 134   4 468 617 586 251 525 382 630 286 453 183
 505 202 378 628 434 331 548 212 233 466 516 171 585 427 428 213 296 492
 280 614 302 576 330 400 152 241 147 497 458 611 454 102 546 633 117 260
 547 246 203 163 343 267 291 532 522 594 224 561 491 383 208   6 626 145
 272 338 126 146 239   7 597 124  22 393 354 610 217 123 228 577 294 479
 140 569 144 269 518 278 600 397 615  13 601 406  49 520 447 568 253 359
 118 153  66 349 235 415 486 537 232  21  42 240  31 236 196 620 214 237
 258 259 168 530  48 206 398  72 304  76 578 462 336  29 148 517 401 616
 193 142 265 581  32 262 136 242 109 289 156 508  11 361 410 364  65 116
 182  52 113   2 158  15 345 309  96 379  90 366 189 351 115  69 362 106
  20 632 150 226 300 122  50 323  67 131 170 340  38 501  36 199  84 449
 535 254 404  77 337 155 133 599  53 220 249 191  94 500 271 110  24  37
 119 375  88 355 318  79 252 514 270   5  61 225 622 166 129 231   3 159
 510  28 238  71 320 138 219 216 604 358 210  12 328 395  55 297 157 295
 282  39 290 204  86 565 344 332 306  81 130 100 200  97 485  41 403  30
 256 188 567  95 274  85  47 621 160 135 322 151 141 414 105  57 180 574
  89  25 307 174 128 544 243 114 108  44 511 556 575  98 222 327 181 417
 227  27 107 263 250 493 371  87 325 356  33  43   8 553  58 169 162 143
 211  74  45  73 165 221 111  70 234 623 229 534  91 164  46  78 342  26
 268  16 370  75  99 255  64 313 161 457 326 276 172 218 173  62  56 201
  54 264  60 101 580  51 127 301 363 279 299 413  19 317  92  23 545 187
 321 137 357  14  10 350 125 293  35  59]
PAYMENT_REPONSIBLE:
[22346 22200 22002 ... 16963 19589 20077]
BILLING_CONCEPT:
[ 6 19 18 30 51 13 10  1  0 25 56 12 36 27 55 62 23 60  4 39 48  7 41 15
 45 50 43 21 17 14 52 26 57 40  9 38 53 37 16 46 22  8 34 59 28  2 49 54
 33 58 31 63 61 20 24 35 42  3 29 47 32 44 11  5]
PRODUCT_SERVICE:
[3437 5357 6110 ... 2914 2898 6858]
COST_CENTER:
[1 4 5 2 3 6 0]
THIRD_RESPONSIBLE:
[  0 460 458 162 228  41 263 179 368 165 415  55 274 416 370  65 373 112
 444 452 321 328 280 234 247  97 307   7  92 233 433  91 463 331 218  26
 156 251 176 118 134 338 229 246 283 335 459 472 171  72 154 143 303 219
 434  42 133 334 298 333  51  27 120 374  34 293 227 473 153   1   2 386
 329 355 429 367 217 181 292 377 266 313 346 254 469 447 395 440 410 413
 297 109 239 244 315  24 121  14 269  58 286 422 123 432 279 159 282 250
 404 194 200 291 466 237 379 185 170 193 265 204  22 139 216 340 419 116
  64 270 287  99   4 258 215 392 238 267 388 376 168 465 235 400 393  32
 197  31 369  35 336 272 222 249 199 396 305 356 353 192 144 201 257 175
 421 405 343 342 391 446 381 409 365 105 256 359  61 345 149 438 103 351
  73 273 284 302 394  71 243  53 450 262 132 128 339 449 106  84 248 326
 278 294 174 428 310 126 389 445 360 107 384 260 462  12 189 242  44 104
 457 324 454 281  18 150 202   5 223 354 151  50 441 122  81 383 214 372
 166 451  77 403 327 129 423 230 366 276  45  98 414 431 275 124 102  23
 439 236 100  10 411 221 358 412 277 203 380 290   9 426  90 205  11 231
 424 319 101 195  48 271 198 407 157  94 344 442  17 212 390 158 186 268
 427 125 108 213 448 417  28 467 378 130  30 173 138 172 113 167 255 316
  82  87 387 348 206 401  89 190 311  56  46  66 196 337 362  79 471 285
  74 474 232 136  86 299 385 253 332  43 261 314   8 300 264  39 425  80
 406  70  52 163 323 191 114 131  47 140 301  83 318  16 164 177 210 141
  59 295 382  33 169  62 470 364 240 160 347 464 461 184 187 135 317 115
  63  88 320 155 296 312 330  38  37 397 119 402 304 309 325 226  67  25
  95  78  54  21 399 375 111 456 146 453  68 420 408 341 361 289 252 180
 430 224  69 418  96 137  19 398 306 145 147 468  76 161 349 225 148 127
  49 142 437   6 209 322 259 357  13  60 208 350 436 371 288  40 308 443
 455  75 110 220 207 183  15  36 152 363 352 188  57 117 182 245  20 241
   3  93  85 178 435 211  29]
INVOICE_NUMBER:
[255938 615593 615592 ... 845646 293717 293716]

In [12]:
df.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,ID_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,0,1,508562,48676,2,0,CON,372,1,22346,...,NaN,6,3437,1,0,255938,1.0,42.64,42.64,0
1,0,1,508562,48676,2,0,CON,372,1,22346,...,NaN,19,5357,1,0,255938,1.0,8.66,8.66,0
2,0,1,508562,48676,2,0,CON,372,1,22346,...,NaN,19,6110,1,0,255938,2.0,0.58,0.58,0
3,0,1,508562,48676,2,0,CON,372,1,22346,...,NaN,19,4350,1,0,255938,1.0,1.78,1.78,0
4,0,1,508562,48676,2,0,CON,372,1,22346,...,NaN,18,6549,1,0,255938,1.0,1.68,1.68,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6104443 entries, 0 to 6104442
Data columns (total 55 columns):
 #   Column                        Dtype
---  ------                        -----
 0   TYPE_ATTENTION                int64
 1   DETAIL_ATTENTION              int64
 2   SEQ_ATTENTION                 int64
 3   SEQ_PATIENT                   int64
 4   SEQ_ATTEN_PATIENT             int64
 5   ROOM_ATTENTION                int64
 6   MAIN_SPECIALITY               object
 7   ID_DOCTOR                     int64
 8   TYPE_PAYMENT_REPON            int64
 9   PAYMENT_REPONSIBLE            int64
 10  FEE_ATTENTION                 int64
 11  SEX_PATIENT                   int64
 12  AGE_PATIENT_START_ATTENTION   int64
 13  AGE_PATIENT_FINISH_ATTENTION  int64
 14  MINUTES_STAY                  int64
 15  TYPE_AFFILIATE                int64
 16  TYPE_AFFILIATION_REGIME       int64
 17  NUM_HISTORY_MED_SET_1         int64
 18  NUM_HISTORY_MED_SET_2         int64
 19  NUM_HISTORY_MED_SET_3         int64
 20  NUM_HISTORY_MED_SET_4         int64
 21  NUM_HISTORY_MED_SET_6         int64
 22  NUM_HISTORY_MED_SET_7         int64
 23  NUM_HISTORY_MED_SET_8         int64
 24  NUM_HISTORY_MED_SET_9         int64
 25  NUM_HISTORY_MED_SET_11        int64
 26  NUM_HISTORY_MED_SET_12        int64
 27  NUM_HISTORY_MED_SET_13        int64
 28  NUM_HISTORY_MED_SET_14        int64
 29  NUM_HISTORY_MED_SET_20        int64
 30  NUM_HISTORY_MED_SET_23        int64
 31  NUM_HISTORY_MED_SET_24        int64
 32  NUM_HISTORY_MED_SET_25        int64
 33  ENTRY_DIAGNOSIS               object
 34  PRINCIPAL_DIAGNOSIS           object
 35  EGRESS_DIAGNOSIS              object
 36  PREVIOUS_DIAGNOSIS            object
 37  POST_DIAGNOSIS                object
 38  RELATED_DIAGNOSIS_1           object
 39  RELATED_DIAGNOSIS_2           object
 40  SPECIALITY_1                  object
 41  SPECIALITY_2                  object
 42  SPECIALITY_3                  object
 43  SPECIALITY_4                  object
 44  SPECIALITY_5                  object
 45  SPECIALITY_6                  object
 46  BILLING_CONCEPT               int64
 47  PRODUCT_SERVICE               int64
 48  COST_CENTER                   int64
 49  THIRD_RESPONSIBLE             int64
 50  INVOICE_NUMBER                int64
 51  QUANTITY_PRODUCT_SERVICE      float64
 52  SALES_PRICE                   float64
 53  INVOICED_PRICE                float64
 54  CLAIM                         int64
dtypes: float64(3), int64(38), object(14)
memory usage: 2.5+ GB

In [14]:
# Transform data alphanumeric of medical speciality columns to number for columns using OrdinalEncoder
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].fillna(0)
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].replace('CON', 1)
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].replace('ACL', 2)
df['MAIN_SPECIALITY']=df['MAIN_SPECIALITY'].astype(np.int64)
##
df['SPECIALITY_1']=df['SPECIALITY_1'].fillna(0)
df['SPECIALITY_1']=df['SPECIALITY_1'].replace('CON', 1)
df['SPECIALITY_1']=df['SPECIALITY_1'].replace('ACL', 2)
df['SPECIALITY_1']=df['SPECIALITY_1'].astype(np.int64)
##
df['SPECIALITY_2']=df['SPECIALITY_2'].fillna(0)
df['SPECIALITY_2']=df['SPECIALITY_2'].replace('CON', 1)
df['SPECIALITY_2']=df['SPECIALITY_2'].replace('ACL', 2)
df['SPECIALITY_2']=df['SPECIALITY_2'].astype(np.int64)
##
df['SPECIALITY_3']=df['SPECIALITY_3'].fillna(0)
df['SPECIALITY_3']=df['SPECIALITY_3'].replace('CON', 1)
df['SPECIALITY_3']=df['SPECIALITY_3'].replace('ACL', 2)
df['SPECIALITY_3']=df['SPECIALITY_3'].astype(np.int64)
##
df['SPECIALITY_4']=df['SPECIALITY_4'].fillna(0)
df['SPECIALITY_4']=df['SPECIALITY_4'].replace('CON', 1)
df['SPECIALITY_4']=df['SPECIALITY_4'].replace('ACL', 2)
df['SPECIALITY_4']=df['SPECIALITY_4'].astype(np.int64)
##
df['SPECIALITY_5']=df['SPECIALITY_5'].fillna(0)
df['SPECIALITY_5']=df['SPECIALITY_5'].replace('CON', 1)
df['SPECIALITY_5']=df['SPECIALITY_5'].replace('ACL', 2)
df['SPECIALITY_5']=df['SPECIALITY_5'].astype(np.int64)
##
df['SPECIALITY_6']=df['SPECIALITY_6'].fillna(0)
df['SPECIALITY_6']=df['SPECIALITY_6'].replace('CON', 1)
df['SPECIALITY_6']=df['SPECIALITY_6'].replace('ACL', 2)
df['SPECIALITY_6']=df['SPECIALITY_6'].astype(np.int64)

In [15]:
print('MAIN_SPECIALITY:\n'+str(df['MAIN_SPECIALITY'].unique()))
print('SPECIALITY_1:\n'+str(df['SPECIALITY_1'].unique()))
print('SPECIALITY_2:\n'+str(df['SPECIALITY_2'].unique()))
print('SPECIALITY_3:\n'+str(df['SPECIALITY_3'].unique()))
print('SPECIALITY_4:\n'+str(df['SPECIALITY_4'].unique()))
print('SPECIALITY_5:\n'+str(df['SPECIALITY_5'].unique()))
print('SPECIALITY_6:\n'+str(df['SPECIALITY_6'].unique()))

MAIN_SPECIALITY:
[  1 387 550 514 430 441 133 820 320 386 120 925 148 750 895 200 360 521
 240 880 341 137 590 440 431 143 480 383 410 500 450 515 991 132 310 138
 830 620 122 351 312 160 230 442 140 420 142 283 602 950 963 902 131 134
 999  10  21 992 690 740 141 190 998 136 290 995 121 147 551 382 385 870
  65 530 144 600 220 903 531 100 930 890   2 601]
SPECIALITY_1:
[  1   0 550 514 320 750 521 137 341 387 430 515 450 133 830 441 160 386
 132 143 420 148 142 440 410 991 480 230 131  10  21 442 992 310 200 134
 140 138 141 431 190 136 290 995 121 147 551 382 120 950 590 895 870 740
 925 602 531 100 351]
SPECIALITY_2:
[  0 441 440 138 521 137 133 514 750 387 310   1 341 991 480 142 148 143
 550 120 740 320 430 830 121  21 450 410 134 230 590 351 160 515]
SPECIALITY_3:
[  0 750 310 440 441 133   1 430 142 514 521 137 143]
SPECIALITY_4:
[0 1]
SPECIALITY_5:
[  0 440   1]
SPECIALITY_6:
[0 1]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6104443 entries, 0 to 6104442
Data columns (total 55 columns):
 #   Column                        Dtype
---  ------                        -----
 0   TYPE_ATTENTION                int64
 1   DETAIL_ATTENTION              int64
 2   SEQ_ATTENTION                 int64
 3   SEQ_PATIENT                   int64
 4   SEQ_ATTEN_PATIENT             int64
 5   ROOM_ATTENTION                int64
 6   MAIN_SPECIALITY               int64
 7   ID_DOCTOR                     int64
 8   TYPE_PAYMENT_REPON            int64
 9   PAYMENT_REPONSIBLE            int64
 10  FEE_ATTENTION                 int64
 11  SEX_PATIENT                   int64
 12  AGE_PATIENT_START_ATTENTION   int64
 13  AGE_PATIENT_FINISH_ATTENTION  int64
 14  MINUTES_STAY                  int64
 15  TYPE_AFFILIATE                int64
 16  TYPE_AFFILIATION_REGIME       int64
 17  NUM_HISTORY_MED_SET_1         int64
 18  NUM_HISTORY_MED_SET_2         int64
 19  NUM_HISTORY_MED_SET_3         int64
 20  NUM_HISTORY_MED_SET_4         int64
 21  NUM_HISTORY_MED_SET_6         int64
 22  NUM_HISTORY_MED_SET_7         int64
 23  NUM_HISTORY_MED_SET_8         int64
 24  NUM_HISTORY_MED_SET_9         int64
 25  NUM_HISTORY_MED_SET_11        int64
 26  NUM_HISTORY_MED_SET_12        int64
 27  NUM_HISTORY_MED_SET_13        int64
 28  NUM_HISTORY_MED_SET_14        int64
 29  NUM_HISTORY_MED_SET_20        int64
 30  NUM_HISTORY_MED_SET_23        int64
 31  NUM_HISTORY_MED_SET_24        int64
 32  NUM_HISTORY_MED_SET_25        int64
 33  ENTRY_DIAGNOSIS               object
 34  PRINCIPAL_DIAGNOSIS           object
 35  EGRESS_DIAGNOSIS              object
 36  PREVIOUS_DIAGNOSIS            object
 37  POST_DIAGNOSIS                object
 38  RELATED_DIAGNOSIS_1           object
 39  RELATED_DIAGNOSIS_2           object
 40  SPECIALITY_1                  int64
 41  SPECIALITY_2                  int64
 42  SPECIALITY_3                  int64
 43  SPECIALITY_4                  int64
 44  SPECIALITY_5                  int64
 45  SPECIALITY_6                  int64
 46  BILLING_CONCEPT               int64
 47  PRODUCT_SERVICE               int64
 48  COST_CENTER                   int64
 49  THIRD_RESPONSIBLE             int64
 50  INVOICE_NUMBER                int64
 51  QUANTITY_PRODUCT_SERVICE      float64
 52  SALES_PRICE                   float64
 53  INVOICED_PRICE                float64
 54  CLAIM                         int64
dtypes: float64(3), int64(45), object(7)
memory usage: 2.5+ GB

In [17]:
df_cie10.head()

,SEQ_DIAGNOSIS,ID_DIAGNOSIS,DIAGNOSIS
0,1,A000,"COLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO CH..."
1,2,A001,"COLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO EL..."
2,3,A009,"COLERA, NO ESPECIFICADO"
3,4,A010,FIEBRE TIFOIDEA
4,5,A011,FIEBRE PARATIFOIDEA A

In [18]:
# Transform data alphanumeric of medical diagnosis columns to number for columns using Datafrene of medical diagnosis, set number sequens to identifier CIE10
df['ENTRY_DIAGNOSIS'] = df['ENTRY_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['ENTRY_DIAGNOSIS']=df['ENTRY_DIAGNOSIS'].fillna(0)
df['ENTRY_DIAGNOSIS']=df['ENTRY_DIAGNOSIS'].astype(np.int64)
##
df['PRINCIPAL_DIAGNOSIS'] = df['PRINCIPAL_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['PRINCIPAL_DIAGNOSIS']=df['PRINCIPAL_DIAGNOSIS'].fillna(0)
df['PRINCIPAL_DIAGNOSIS']=df['PRINCIPAL_DIAGNOSIS'].astype(np.int64)
##
df['EGRESS_DIAGNOSIS'] = df['EGRESS_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['EGRESS_DIAGNOSIS']=df['EGRESS_DIAGNOSIS'].fillna(0)
df['EGRESS_DIAGNOSIS']=df['EGRESS_DIAGNOSIS'].astype(np.int64)
##
df['PREVIOUS_DIAGNOSIS'] = df['PREVIOUS_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['PREVIOUS_DIAGNOSIS']=df['PREVIOUS_DIAGNOSIS'].fillna(0)
df['PREVIOUS_DIAGNOSIS']=df['PREVIOUS_DIAGNOSIS'].astype(np.int64)
##
df['POST_DIAGNOSIS'] = df['POST_DIAGNOSIS'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['POST_DIAGNOSIS']=df['POST_DIAGNOSIS'].fillna(0)
df['POST_DIAGNOSIS']=df['POST_DIAGNOSIS'].astype(np.int64)
##
df['RELATED_DIAGNOSIS_1'] = df['RELATED_DIAGNOSIS_1'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['RELATED_DIAGNOSIS_1']=df['RELATED_DIAGNOSIS_1'].fillna(0)
df['RELATED_DIAGNOSIS_1']=df['RELATED_DIAGNOSIS_1'].astype(np.int64)
##
df['RELATED_DIAGNOSIS_2'] = df['RELATED_DIAGNOSIS_2'].map(df_cie10.set_index('ID_DIAGNOSIS')['SEQ_DIAGNOSIS'])
df['RELATED_DIAGNOSIS_2']=df['RELATED_DIAGNOSIS_2'].fillna(0)
df['RELATED_DIAGNOSIS_2']=df['RELATED_DIAGNOSIS_2'].astype(np.int64)

In [19]:
print('ENTRY_DIAGNOSIS:\n'+str(df['ENTRY_DIAGNOSIS'].unique()))
print('PRINCIPAL_DIAGNOSIS:\n'+str(df['PRINCIPAL_DIAGNOSIS'].unique()))
print('EGRESS_DIAGNOSIS:\n'+str(df['EGRESS_DIAGNOSIS'].unique()))
print('PREVIOUS_DIAGNOSIS:\n'+str(df['PREVIOUS_DIAGNOSIS'].unique()))
print('POST_DIAGNOSIS:\n'+str(df['POST_DIAGNOSIS'].unique()))
print('RELATED_DIAGNOSIS_1:\n'+str(df['RELATED_DIAGNOSIS_1'].unique()))
print('RELATED_DIAGNOSIS_2:\n'+str(df['RELATED_DIAGNOSIS_2'].unique()))

ENTRY_DIAGNOSIS:
[    0  7179  7836 ...  3231 12529  5492]
PRINCIPAL_DIAGNOSIS:
[   0 3625 1770 ... 3979 4697 5492]
EGRESS_DIAGNOSIS:
[    0  1770  4096  4022    61 12254  7683  3613  5374  6868  7014  5043
   459  3669  8643   777  3608  8047  3554  3649 11780  7857  6341  3576
  4221  6202  3673  3944  7725  4086   875  7013  3163  3630  4769  5343
  5145  7172  5962  7744  7599  3600    52  2607  5313  3658  3791  3285
  7917  3113  7623  7539   519  1330  7849  3547  3616  3240  5312  5033
  4081  4080  3668  4928  3558  3775  4963  3611  4908  3646  3625  7909
  4215  2295  3263  4109  3617  7185  7910  3645  7627  3133  4682  5267
  7845  7360  3606  1514  5579  7373  2298   518  4005  3822  7912  5311
  2645  7494  4982  7851   513  3819  3103  1005  3607  3664  7850  7859
  4116  7737  5952  4217  2617  3623  7848  2293  3686  7413  9985  7740
  7040  4948  5381  7771  7554  5342    56  7861  3621  7847  7684  3438
  7902  4216  3695  4108  7893  4790  7180  5627  1747  3383  3609  7860
  7477  4521  3247  7748  3701  4761   212  5470  4290  5956  4388 12306
  3603  4098  7679 12156  4745  3610  2063  7113  3789  3612  5365  3893
  3877  3573  7062  5963  7429  3821  7907  5702  5722  4961  3654 12005
  4985  3605  7615  5517  7430  7174  6340  7108  7846  7051  7836  7412
  7170  7171  4658  3738   195  1881    39  3678  4967  5172  4003  3946
    53  4696  8006  5459  7755  4291  1567  7553  8050  7903  3165  6676
  7625  5509   974  7678  2970  7057  5337  4266  2615  5412  7791  4862
  7680  7052  4927  4294  4905    37  9981  7750  7908  3735  4773  7749
  3614    46  7049  2482  2068  7041  5008   977  7723  3732  7048  3405
  4759  7692  2107  4698  3634  5317  1460  5367  8509  4945  3585  4737
  1771  4977  8487  7739  4078  4070  2275  2619  4974  7738  7896  4284
  1301  7054  8644  2103  3655  4931  7878  4925  3633  3403  4222 10011
  5493  7365  7844  7187  3538  4045  5010  4428  7178  3482  4768  3997
  3548  7735 12004  3672  1426  7670  5401  5396  2108  2061  3624  4154
  4753  5397  2881 12583  5173  4094  4983  3124  2618  7906   439  3627
  4852  3472  4920  3667  7363  7567  5949  5042  5698  4750  5965    28
  7894  7361  4288  5382  4091  7405  7560  4286  3909  5577   538  7669
  7741  4024   222  7406  7091  3777  4097  4591  7109  3257  5338   441
  7729  4714  4911  5301  1803  7555  4115  7050  1487  3653  7631  6376
  2632  7493 12174   496  1023  3385  1825  3918  6773  3540  4273  7980
  3118   436  7736  4036  2045  4888  5315 11819  5040  3551  7624  2047
  5330  2622  7179  4252  4916  2620  2705  4114  4420  4220  7799  4195
 12084  4772   443 12188  3924  6752  3098  7537  7919  5360  5423  3513
  1427  3394  5274  4427  3601  8484  3648  4593  2900  4723  5639  7175
  3626  5444  7837   402  3960  2877  3036  2875  5484  2826  6717  4250
  4743  7176  5481  3187  5488  4935  5321  4295  4218  4909  8598 12627
  4951   879  5966  4774  4092  1520  4060  8014  5507  4741  4016  7655
  4518  3261  4125  4293  3687    36  1035  3425  3961  7803  7632  7027
  2642  6736  4877  7098 12270 12178  5496  4724  4006  4913  3402  1528
  5314  3677  7688  3602  4196 12096  5780  5489  6705  1667  4826  6016
  7636  3956   923  3736  2653  3641    27  2864  4857  7263  1432  3119
  3671  5022  1811  8098  4029  4984  7689   197  4033  3290  8459  7083
  2897  3969    62  7416  4740  8159  1041  4987  7192  2630  4103  3830
  3689 11960  5405  2095  4299  7734  2703  3100  2297  4018  2984  4055
  3267  5015   175  2920  5847  4347  5454  4995  7184  7454  1425  4302
  3948  7918  5349   366 12542  5669  7675  1851  4030  2616  2873  7181
  7028  2105  4054  4102  5479  2896 12582  2640  5318  2277  8052  7022
  4374  4332  4301  5530  5309  3114  7852  1634  4002  7558  5147  3258
  2268  3099   420   885  7129  4247 12391  7370  7854  7329  7088 12255
 12311 11996  8053  3366  3945  5403  4017  1495  7544  7490  5729  2614
  4410  1869  5021  2667  3059  4046  7732  3314  7037  3588  5037  3023
  8063  1604  4941  4119  7111  2608  4950  2973  2687  3037   907  4093
  4889  5035   440  3556  7038  5012  5584  7805  4964  4001  5654  4729
  1519  4992  2891  5359  5823  2759  1380  5621   910  4281  6164  5634
  2560  4435  7556  3517  6759  1510  5849  3453  4972  1633  3555  3657
  5273 12215  2817  2612  1387  4513  7682  3127    57  4118  7112  1200
  4121  7806  2797  7012  4004  7835   221  1626  5030   719   781  3972
  2621   886  8158   220  3254  3107  5316  7967  5580  7901  2493  4364
  8046  7378  2254  5023  5592  3111  1661  3731  7790  8066  7913 12462
  1355  1056  6293  6651  5710  5664  8029  3739  7557  7801  1446  2501
  6806  2830  5649  4271  5393  4219  7427  5587  6324  3959   512  7730
  3444  3720  3921  5727  4469  3557  7841  2570  2175  3005  4886  3520
  4224  7058  2534  3734  4777  4389  3700 12516  7440  5027   433  5536
  8005  7613   778  7356  5135  3008  4907  6308   498  5424  1512  2586
  4903   495  3682  6697  2336]
PREVIOUS_DIAGNOSIS:
[    0  4768  4022  1078  7858  2878  2984  5403  3646  4749  2803  4912
  3687  4729  6805  7680  4744  7373  4763  4743    61  5040  7098  4788
  7915  7627 12627   959  4777  4677  3129  4773  5535  7822  3696  7683
  3290  4995  2645  8020  6483  4521  3695  7632  5963  4915  4756  4888
  3946  5271  4913  1482  7857  7859  5309  4301  3405  5274  7908  7684
  1771  4730  4043  2831  7907 12163  7846  4886   952  3122  7623  4036
  7769  4961  5096  4585  3142  3700  7861  4748  4215  4469  7855  1415
  4017  2979  4045  2759  4139  3732  1427  3146  4738  3263  7625  7878
  8034  7682  4018  7781  3240  2991  3945  4291  3438  4889  5338  7860
 12158  5147  4924  5374  5512  4769  7060  7678  1452  5030  5313 12177
  3431  3573  3113  2773  7774   837  6481  5311  7048  7849  7740  1747
  8643  4753  3698  5151  5173  7845  4024  4093  5534  4986  5434  5009
  1382  2889  7022 12098  4750  3139  5026  4221  4747 12188  3699  4195
  5036  4723  4337 12254  3127  4216  4963  7174  5140 12173  4153  3426
  2760   980  2295  4745  5272  1023  6826  5399  4856  4973  5367   867
  3822  4302  5321  6767  5797  5496  4754   485  4746  3106  1381  3450
  4249  4554  8644   640  7049  2761  8487  7631  4091  4287]
POST_DIAGNOSIS:
[    0  7684  5311  1312  5410  5402  4768  2834  4022  1404  5364  4911
  5381  3688  5966  4658  5403  7770  1432  4215  4944  3695  1487  1078
  5963  7858  1073  4034  4043  7623  2878  2984  5342  4749  2803  1054
  4221 12158  3696  4912   433  4729  4125  6805  7680  6750  5928  7373
  4763  7740  7852  1071  5454  4017  5040  4121  5338  2937   937  4740
  7098  7678  4757  7631  7627  5361  5962 12627   959  4777  4963  3700
  4677  4773  5896  1113  4759  4137  4045  5535  1427  7683  7822  7746
  5321  4524  4919  4220  4046  8020  6483  4521  1035  5206  4018  7632
  6783  4915  4756  4920  4091  3946  7111  4739  5580  4758  5271  4913
  5517  5459  7849  4222  7799  7915  7857  4023  7859  4888  4886  4301
  4057  4089  1005  5489  4904  4092  5274  4060  4730  6486  2831  7907
  3576  4893  4790  4035  4127  7845  7860  4774  6651  7682  3686  5314
  5467  2944  5611  3122  4036  4737  5902  5518  7443  7769  3573  5622
  5312  4961  1502  5512  5096  4585  3142  4233  7636  7861  4153  4155
  2645  3158  7657  4979  1388  4469  4216  4743  5365  3687  7855  1415
  5147  2979  5790  4748  5855  5484  2759  4139  7022  4128  3146  1514
  4753  7377  5420  7878  8034  4223  4761  7781  3802  2991  3945  4769
 12163  7080  5010  3438 11968  7747  1380   784  5432  7846  1489  4082
  1452  4093  5313  5434  3554  3798  4372  4770  5843  5399  4117   748
  7737  3431  1382  5783  3113  1482  2773  7774  4889  4823  4907  4857
  4856  6799  3692  3689  5374  4130  4788  3950  5793  5405  5523  3962
  2688  1373  5173   892  5276  4024  5272  4286  3701  5534  4986  7681
  4724  5457  5482  4782  5316  4266  5009  2687  7771  4129  3699  2889
   816  3804 12098  7598  4750  3139  3805  5026  1056  7735  7733  4528
  5341  1072  5797  1968  4219  4195  7112  5552  1381  4157  4927  4230
  4723  9920  4138  4054  7625  6773 12254  3127  4877  7174  1031  5140
  3426  5172   980  5315  1294  4745   886  5496  5522  7626  1023  1420
  6826  5333  4973  5396  3682  3646  5149  3698  4924  5794  4722  5367
  5780  3786   884   867  4302  6767  7047  4754  5039  1491  2903  4925
   485  1387  4746  3106  4033  4968  4591  4203   978  4249  4554  4744
   640  4154  2761  5400  7547  3904  5897  2760  3552  4287  3979]
RELATED_DIAGNOSIS_1:
[    0  2900  5341  5601  2830 12462  7405  7409  4744  3566  3654  1788
  3600  4063  7740  5591  3678  2076  4981  5030  3684  4221  3365  4769]
RELATED_DIAGNOSIS_2:
[   0 2900 5341 5467 2830 3600 7363 7526 4744 3677 3654 1788 4063 6774
 7740 5591 3678 2076 4134 4962 5030 1968 4221 3365 4769]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6104443 entries, 0 to 6104442
Data columns (total 55 columns):
 #   Column                        Dtype
---  ------                        -----
 0   TYPE_ATTENTION                int64
 1   DETAIL_ATTENTION              int64
 2   SEQ_ATTENTION                 int64
 3   SEQ_PATIENT                   int64
 4   SEQ_ATTEN_PATIENT             int64
 5   ROOM_ATTENTION                int64
 6   MAIN_SPECIALITY               int64
 7   ID_DOCTOR                     int64
 8   TYPE_PAYMENT_REPON            int64
 9   PAYMENT_REPONSIBLE            int64
 10  FEE_ATTENTION                 int64
 11  SEX_PATIENT                   int64
 12  AGE_PATIENT_START_ATTENTION   int64
 13  AGE_PATIENT_FINISH_ATTENTION  int64
 14  MINUTES_STAY                  int64
 15  TYPE_AFFILIATE                int64
 16  TYPE_AFFILIATION_REGIME       int64
 17  NUM_HISTORY_MED_SET_1         int64
 18  NUM_HISTORY_MED_SET_2         int64
 19  NUM_HISTORY_MED_SET_3         int64
 20  NUM_HISTORY_MED_SET_4         int64
 21  NUM_HISTORY_MED_SET_6         int64
 22  NUM_HISTORY_MED_SET_7         int64
 23  NUM_HISTORY_MED_SET_8         int64
 24  NUM_HISTORY_MED_SET_9         int64
 25  NUM_HISTORY_MED_SET_11        int64
 26  NUM_HISTORY_MED_SET_12        int64
 27  NUM_HISTORY_MED_SET_13        int64
 28  NUM_HISTORY_MED_SET_14        int64
 29  NUM_HISTORY_MED_SET_20        int64
 30  NUM_HISTORY_MED_SET_23        int64
 31  NUM_HISTORY_MED_SET_24        int64
 32  NUM_HISTORY_MED_SET_25        int64
 33  ENTRY_DIAGNOSIS               int64
 34  PRINCIPAL_DIAGNOSIS           int64
 35  EGRESS_DIAGNOSIS              int64
 36  PREVIOUS_DIAGNOSIS            int64
 37  POST_DIAGNOSIS                int64
 38  RELATED_DIAGNOSIS_1           int64
 39  RELATED_DIAGNOSIS_2           int64
 40  SPECIALITY_1                  int64
 41  SPECIALITY_2                  int64
 42  SPECIALITY_3                  int64
 43  SPECIALITY_4                  int64
 44  SPECIALITY_5                  int64
 45  SPECIALITY_6                  int64
 46  BILLING_CONCEPT               int64
 47  PRODUCT_SERVICE               int64
 48  COST_CENTER                   int64
 49  THIRD_RESPONSIBLE             int64
 50  INVOICE_NUMBER                int64
 51  QUANTITY_PRODUCT_SERVICE      float64
 52  SALES_PRICE                   float64
 53  INVOICED_PRICE                float64
 54  CLAIM                         int64
dtypes: float64(3), int64(52)
memory usage: 2.5 GB

In [21]:
df.head()

,TYPE_ATTENTION,DETAIL_ATTENTION,SEQ_ATTENTION,SEQ_PATIENT,SEQ_ATTEN_PATIENT,ROOM_ATTENTION,MAIN_SPECIALITY,ID_DOCTOR,TYPE_PAYMENT_REPON,PAYMENT_REPONSIBLE,...,SPECIALITY_6,BILLING_CONCEPT,PRODUCT_SERVICE,COST_CENTER,THIRD_RESPONSIBLE,INVOICE_NUMBER,QUANTITY_PRODUCT_SERVICE,SALES_PRICE,INVOICED_PRICE,CLAIM
0,0,1,508562,48676,2,0,1,372,1,22346,...,0,6,3437,1,0,255938,1.0,42.64,42.64,0
1,0,1,508562,48676,2,0,1,372,1,22346,...,0,19,5357,1,0,255938,1.0,8.66,8.66,0
2,0,1,508562,48676,2,0,1,372,1,22346,...,0,19,6110,1,0,255938,2.0,0.58,0.58,0
3,0,1,508562,48676,2,0,1,372,1,22346,...,0,19,4350,1,0,255938,1.0,1.78,1.78,0
4,0,1,508562,48676,2,0,1,372,1,22346,...,0,18,6549,1,0,255938,1.0,1.68,1.68,0

## Exportación del archivo transformado y anonimizado para uso de las siguientes etapas (EDA y algoritmos de IA)

In [22]:
# Export Dataframe to file CSV, for use in EDA and IA algorithmos
df.to_csv('claims.csv', index=False, encoding='utf-8')